   <!------------------------- Step-2 ----------------------------->
   <div class="multisteps_form_panel" data-animation="slideVert">
    <div class="form_content">
       <div class="row">
          <div class="col-lg-4 self-center">
           <div class="form_title ps-5  ">
               <span class="title text-black font-sans text-3xl  mb-5 "><span class="font-bold">EACH TYPE</span> OF SKI <span class="font-bold">BEHAVES</span> DIFFRENTLY ACCORDING TO THE <span class="font-bold">TERRAIN</span>
               </span>

            </div>
          </div>
          <div class="col-lg-4 text-end">
           
             <div class="form_img">
                <img src="./assets/images/bg_2.png" alt="image_not_found">
             </div>
          </div>
          <div class="col-lg-4 text-center">
           <h2  class="title font-bold font-sans  text-2xl text-center mt-10 mb-2 text-orange-600">WHAT IS YOUR ABILITY LEVEL?</h2>
             <div class="form_items radio-list">
                <ul class="text-uppercase list-unstyled">
                   <li>
                      <label for="opt_5" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_25ms">
                         <span class="label-pointer rounded-circle text-center">A</span><input type="radio" id="opt_5"  name="stp_2_select_option" value="business" required>
                         <span class="label-content d-inline-block text-center rounded-pill">NEWBIE</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_6" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_50ms">
                         <span class="label-pointer rounded-circle text-center">B</span><input type="radio" id="opt_6" name="stp_2_select_option" value="Employee">
                         <span class="label-content d-inline-block text-center rounded-pill">INTERMEDIATE</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_7" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_100ms">
                         <span class="label-pointer rounded-circle text-center">C</span><input type="radio" id="opt_7" name="stp_2_select_option" value="Journalist">
                         <span class="label-content d-inline-block text-center rounded-pill">CONFIRMED</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_8" class="step_2 rounded-pill animate__animated animate__fadeInRight animate_150ms">
                         <span class="label-pointer rounded-circle text-center">D</span><input type="radio" id="opt_8" name="stp_2_select_option" value="Other">
                         <span class="label-content d-inline-block text-center rounded-pill">PRO-GUIDE</span>
                      </label>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!---------- Form Button ---------->
    <div class="form_btn py-4 d-flex justify-content-center align-items-center">
       <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span>Previous</button>
       <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Next <span><i class="fas fa-arrow-right ps-1"></i></span></button>
    </div>
    <div class="form_btn  d-flex justify-content-center ">
      <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase invisible"> Next aweaweaaweaweaw<span><i class="fas fa-arrow-right ps-1"></i></span></button>
      <div class="title text-black font-sans font-bold text-xl text-orange-600 text-center mb-4" >* Both fields are required</div>
   </div>
 </div>