  <!------------------------- Step-3 ----------------------------->
  <div class="multisteps_form_panel" data-animation="slideVert">
    <div class="form_content">
       <div class="row">
          <div class="col-lg-4 self-center">
           <span class="title text-black font-sans text-3xl  mb-5 "><span class="font-bold">EACH TYPE</span> OF SKI
           <span class="font-bold">BEHAVES</span> DIFFRENTLY ACCORDING TO THE <span
              class="font-bold">TERRAIN</span>
        </span>
          </div>
          <div class="col-lg-4 text-center">
             <div class="form_img">
                <img src="./assets/images/bg_3.png" alt="image_not_found">
             </div>
          </div>
          <div class="col-lg-4 text-center">
           <h2  class="title font-bold font-sans  text-2xl text-center mt-10 mb-2 text-orange-600">WHAT IS THE TERRIN TYPE THAT YOU WILL BE SKIING MORE OFTEN?</h2>

             <div class="form_items check-list">
                <ul class="text-uppercase list-unstyled">
                   <li>
                      <label for="opt_9" class="step_3 rounded animate__animated animate__fadeInRight animate_25ms">
                         <span class="label-pointer rounded-pill text-center">A</span><input type="checkbox" id="opt_9"  name="stp_3_select_option" value="Facebook">
                         <span class="label-content d-inline-block text-center rounded-pill">TOURING BACK MOUNTAIN&nbsp;&nbsp;&nbsp;</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_10" class="step_3 rounded animate__animated animate__fadeInRight animate_50ms">
                         <span class="label-pointer rounded-pill text-center">B</span><input type="checkbox" id="opt_10" name="stp_3_select_option" value="Twitter">
                         <span class="label-content d-inline-block text-center rounded-pill">TOURING FRONT MOUNTAIN&nbsp;&nbsp;</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_11" class="step_3 rounded animate__animated animate__fadeInRight animate_100ms">
                         <span class="label-pointer rounded-pill text-center">C</span><input type="checkbox" id="opt_11" name="stp_3_select_option" value="Instagram">
                         <span class="label-content d-inline-block text-center rounded-pill">TOURING RACE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      </label>
                   </li>
                   <li>
                      <label for="opt_12" class="step_3 rounded animate__animated animate__fadeInRight animate_150ms">
                         <span class="label-pointer rounded-pill text-center">D</span><input type="checkbox" id="opt_12" name="stp_3_select_option" value="Pinterest">
                         <span class="label-content d-inline-block text-center rounded-pill">TOURING MOUNTAINEERING</span>
                      </label>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <!---------- Form Button ---------->
    <div class="form_btn py-5 d-flex justify-content-center align-items-center">
      <button type="button" class="js-btn-prev f_btn rounded-pill disable text-uppercase" id="prevBtn"><span><i class="fas fa-arrow-left pe-1"></i></span>Previous</button>
      <button type="button" class="js-btn-next f_btn rounded-pill active text-uppercase" id="nextBtn"> Next <span><i class="fas fa-arrow-right ps-1"></i></span></button>
   </div>
 </div>